@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --primary-color: #3772FF;
  --secondary-color: #777E90;
  
  --background-color: #141416;
  --text-color: #FCFCFD;

  --green: #58BD7D;
  --orange: #FF6838; 
  --purple: #9757D7;
  --neutral-200: #E6E8EC;
  --neutral-800: #23262F;
  --neutral-500: #353945; 
  --neutral-50: #F4F5F6;
  --gray-500: #B1B5C3
  /* --max-width-navbar: 1280px; */
}
.icon{
  width: 24px;
  height: 24px;

}

.btn{
   cursor: pointer; /*cursor la hiệu ứng hiển thị khi rê chuột vào button/option*/
  font-size: 16px;
  line-height: 16px;
  padding: 16px 24px;
  border-radius: 100rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 12px;
}
.btn-small{
  padding: 12px 16px;
  font-size: 14px;
}
.btn-secondary{
  border: 2px solid var(--secondary-color);
}
.btn-primary{
  background: var(--primary-color);

}
.btn-withicon{
  padding: 16px 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
}
.btn-icon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 100rem;
  background: var(--primary-color);
}

.icon-lg{
  padding: 28px;
  background-color: var(--text-color);
}
.icon-md{
  padding: 12px;
  background-color: var(--primary-color);
}
html{
  font-size: 100%;
  background-color: var(--background-color);
  /*var(variable= biến) dung de su dung bien mausac root*/
  color: var(--text-color);
  font-family: "DM Sans";  
}
header{
  width: 100%;
  border-bottom: 1px solid var(--neutral-800);
}

.navbar{
  max-width: 1280px;
  margin: 20px auto; /*de tu canh giua*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar--right{
  display: flex;
  align-items: center;
  gap: 24px;
}
.navbar .navbar--left{
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar .navbar--left .dash{
  width: 1px;
  height: 40px;
  background-color: var(--neutral-500);
}
.navbar .navbar--left .navbar--left_logo{
  width: 140px;
}
.navbar .navbar--left .navbar--left_links ul{
  display: flex;
  align-items: center;
  gap: 48px;
}
.navbar .navbar--left .navbar--left_links ul li{
  display: flex;
  align-items: center;
  gap: 4px;
}
.navbar .navbar--left .navbar--left_links .navbar--link{
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}
.navbar .navbar--right_user{
  cursor: pointer;
  border-radius: 100rem;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.navbar .navbar--right_money .btn-money{
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: var(--text-color);
  gap: 12px;
  padding: 12px 16px;

}
.navbar .navbar--right_bell{
  cursor: pointer;
  position: relative;
  padding: 8px;
}
.navbar .navbar--right_bell .dot{
  width: 12px;
  height: 12px;
  background: var(--green);
  border-radius: 100rem;
  position: absolute;
  top: 0;
  right: 0;
}
.navbar .navbar--right_lighting{
  cursor: pointer;
}
.navbar .navbar--right_theme .btn--theme{
  cursor: pointer;
}
/* footer */
footer .footer{
  border-top: 1px solid var(--neutral-800);
  font-family: "Poppins";
}
footer .footer .footer--bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 0;
  
}
footer .footer .footer--bottom .icon--social{
  display: flex;
  gap: 24px;
  align-items: center;
}
footer .footer .footer--bottom p{
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 20px;
}
footer .footer .footer--top{
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  gap: 126px;
}
footer .footer .footer--top .footer--top_navlink{
  display: flex;
  gap: 32px;
  padding-top: 100px;
}
footer .footer .footer--top .footer--top_navlink .footer_logo{
  padding-right: 128px;
  padding-bottom: 136px;
  width: 32px;
  height: 32px;
}
footer .footer ul{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 158px;
}
footer .footer .footer_link{
  font-size: 14px;
  color: var(--secondary-color);
  font-weight: 600;
  line-height: 16px;
  font-family: "DM Sans";
}
footer .dash{
  width: 1px;
  height: 336px;
  background-color: var(--neutral-800);
}

footer .title{
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: var(--);
  /* text-transform: capitalize; thuộc tín in hoa chữ đầu tiên */
  text-transform: uppercase;
  /* text-transform: lowercase; viet thuong tat ca */
  margin-bottom: 40px;
}
footer .footer--top_contact{
  padding-top: 100px;
}
footer .footer--top_contact .content{
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 168px;
}
footer .footer--top_contact .content .address{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .footer--top_contact .content .address p{
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-color);
}

footer .footer--top_contact .content .phone{
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-color);
}
footer .footer--top_newsletter{
  padding-top: 80px;
}
footer .footer--top_newsletter .content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 256px;

}
footer .footer--top_newsletter .content .desc{
  font-size: 14px;
  line-height: 24px;
  color: var(--neutral-200);
}


footer label{
  position: relative;
}
footer label input{
  height: 48px;
  width: 100%;
  border: 2px solid var(--neutral-800);
  background-color: transparent;
  /*transparent: (trong suốt) */
  padding-left: 16px;
  border-radius: 100rem;

}
footer label input::placeholder{
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-color);
  font-family: "Poppins";
}

footer label .btn{
  position: absolute;
  top: 8px;
  right: 8px;
}
footer .divider{
  width: 100%;
  height: 1px;
  background-color: var(--neutral-800);
}
/* main */

main{
  max-width: 1120px;
  margin: 0 auto;

}
main .hero{
  padding: 80px 0 136px;
  /* padding: (top&bottom) (lef&rigt);
  top lef right bottom */
  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
}
main .hero .hero--header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .hero .hero--header .btn--grp{
  display: flex;
  gap: 16px;
}
main .hero .heading{
  font-size: 64px;
  line-height: 1;
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 16px;
  letter-spacing: -2%;
}
main .hero .desc{
  font-size: 24px;
  line-height: 32px;
  color: var(--secondary-color);
  font-family: "Poppins";
  margin-bottom: 32px;
  letter-spacing: -1%;
}

main .hero .hero--img{
  width: 100%;
  max-height: 655px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

main .hero .hero--img .image{
  width: 1120px;
  height: 655px;
  object-fit: cover;
  
}

main .hero .hero--img .btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform: translate3d(X , Y ,Z); transform: translate(X , Y); */
}

main .blog{
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 136px;
  margin-bottom: 136px;
}

main .blog .row{
  display: flex;
}

main .blog .row .blog--left{
  flex-grow: 1;
  /*  dùng để dàn đêu 2 cột ra trong cùng 1 hàng */
}
main .blog .row .blog--right{
  width: 640px;
}
main .blog .row .blog--right .image{
  width: 640px;
  height: 318px;
}
main .blog .row .blog--right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
main .blog .row .blog--left p{
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 1;
  font-family: "Poppins";
  text-transform: uppercase;
  font-weight: 600;
}
main .blog .row .blog--right .title{
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  letter-spacing: -2%;
  color: var(--text-color);
}
main .blog .row .blog--right .desc{
  font-family: "Poppins";
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral-50);
  margin-bottom: 64px;
  margin-top: 20px;
  max-width: 450px;
}
main .blog .row .blog--right .tab{
  display: flex;
  align-items: center;
  gap: 12px; 
}
main .blog .row .blog--right .tab--item{
  padding: 6px 16px;
  border-radius: 100rem;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: var(--secondary-color);
  cursor: pointer;
}
main .blog .row .blog--right .tab .active{
  padding: 6px 12px;
  background-color: var(--primary-color);
  color: var(--text-color);
}
main .blog .row .blog--left .label{
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  color: var(--text-color);
  padding: 6px 12px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 64px;
  font-weight: 600;
  font-family: "Poppins";
}
main .blog .row .blog--left .label.orange{
  background-color: var(--orange);
}
main .blog .row .blog--left .label.blue{
  background-color: var(--primary-color);
}
main .blog .row .blog--left .label.green{
  background-color: var(--green);
}
main .blog .row .blog--left .title{
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  color: var(--text-color);
  letter-spacing: -1%;
}
main .blog .row .blog--left .type{
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-500);
  padding-top: 8px;
  padding-bottom: 20px;
  font-family: "Poppins";
}
main .blog .row .blog--left .content{
  max-width: 352px;
}
main .blog .row .blog--left .desc{
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-color);
  font-family: "Poppins";
}
main .blog .row .blog--left .icon{
  margin-top: 24px;
}

/* news */
main .news{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  align-items: center;
  margin-bottom: 136px;
}
main .news .heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 544px;
}
main .new .heading .logo{
  width: 140px;
  height: 32px;
}
main .news .heading .title{
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -2%;
  color: var(--text-color);
  font-weight: 600;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 20px;
}
main .news .heading .desc{
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary-color);
  text-align: center;
  font-family: "Poppins";
}
main .news .slider{
  position: relative;
}
main .news .slider .item{
  background-color: var(--neutral-800);
  border-radius: 24px;
  padding: 80px 96px;
  display: flex;
  align-items: center;
  gap: 76px;
}
main .news .slider .item .image{
  width: 414px;
}
main .news .slider .item .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .news .slider .item .content{
  max-width: 352px;

}
main .news .slider .item .content .label{
  /* font-size: 12px;
  line-height: 1;
  font-weight: 600; */
  font: 600 12px/1 'Poppins';
  color: var(--secondary-color);
  text-transform: uppercase;
}
main .news .slider .item .content .title{
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-top: 16px;
  margin-bottom: 20px;
}
main .news .slider .item .content .desc{
  font: 400 16px/24px 'Poppins';
  color: var(--secondary-color);
  margin-bottom: 96px; 
  /* 64+32=96 gom khoang cach + kt icon */
}
.btn-slider-left, .btn-slider-right{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.btn-slider-right{
  right: -96px;
}
.btn-slider-left{
  left: -96px;
}

main .product{
  padding-top: 136px;
  padding-bottom: 136px;
}

main .product .header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--neutral-500);
  padding-bottom: 33px;
}

main .product .header .title{
  font: 600 24px/32px 'Poppins';
  color: var(--neutral-200);
}
main .product .sub--header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 64px;
}

main .product .sub--header .tab{
  display: flex;
  align-items: center;
  gap: 12px; 
}
main .product .sub--header .tab--item{
  padding: 6px 12px;
  border-radius: 100rem;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: var(--secondary-color);
  cursor: pointer;
}
main .product .sub--header .tab .active{
  padding: 6px 12px;
  background-color: var(--neutral-200);
  color: var(--neutral-800);
}
main .product .sub--header form{
  position: relative;
  border: 2px solid var(--neutral-800);
  border-radius: 12px;
}
main .product .sub--header form .btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  background: transparent;
  border: 2px solid var(--neutral-800);
}
main .product .sub--header form select{
  background: transparent;
  border: none;
  height: 44px;
  width: 252px;
  padding-left: 12px;
  font: 500 14px/24px 'Poppins';
  color: var(--text-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
main .product .product--layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px; 
  /* grid-gap: row column(khoang cach 2 dong) */
}
main .product .product--item .product--content{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
main .product .product--item .product--content .content--box{
  display: flex;
  align-items: center;
  gap: 16px;
}
main .product .product--item .user--image{
  height: 40px;
  width: 40px;
  border-radius: 100rem;
  overflow: hidden;
}
main .product .product--item .name--box{
  font: 500 16px/24px 'Poppins';
  color: var(--text-color);
}
main .product .product--item .name--box .name--author{
  font: 500 12px/20px 'Poppins';
  color: var(--secondary-color);
  margin-top: 2px;
}
main .product .product--item .product--content .badge{
  border: 2px solid var(--green);
  border-radius: 4px;
  color: #58BD7D;
  font: 600 12px/1 'Poppins';
  /* padding: 8px; */
  /* padding-bottom: 6px; */
  height: 22px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .product .product--item .product--image .label{
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  color: var(--text-color);
  padding: 8px;
  padding-bottom: 6px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 64px;
  font-weight: 600;
  font-family: "Poppins";
}
main .product .product--item .product--image .label.blue{
  background-color: var(--primary-color);
}
main .product .product--item .product--image .label.purple{
  background-color: var(--purple);
}
main .product .product--item .product--image{
  position: relative;
  border-radius: 18px;
  overflow: hidden;
}
main .product .product--item .product--image img{
  object-fit: cover;
  width: 100%;
  height: 297px;
}
main .product .product--item .product--image .label{
  position: absolute;
  top: 8px;
  left: 8px;
}
main .product .product--item .product--image .btn{
  padding: 16px;
  background-color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
  /* tranlate(X,Y) */
  /* nếu dùng left thì tranlate (+)
  và ngược lại right thì (-) */

}
main .product .product--item .product--image .btn img{
  width: 16px;
  height: 16px;
}
main .product .btn{
  margin: 0 auto;
  margin-top: 32px;
}