.navbar{
  background: rgb(17 24 39);
  padding: 15px;
}
.navbar .navbar-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .navbar-wrapper .navbar-logo{
  display: flex;
  align-items: center;
}
.navbar .navbar-wrapper .navbar-logo a{
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  font-weight: 500;
}
.navbar .navbar-wrapper .navbar-links ul{
  display: flex;
  list-style-type: none;
  gap: 32px;
}
.navbar .navbar-wrapper .navbar-links ul li a{
  text-decoration: none;
  color: white;
}
.navbar .navbar-wrapper .navbar-links ul li a:link{
  color: white;
}
.navbar .navbar-wrapper .navbar-links ul li a:hover{
  color: royalblue;
}
.navbar .navbar-wrapper .navbar-lang button{
  background: transparent;
  text-transform: none;
  border: 10px;
  border-radius: 10px;
  padding: 10px 20px;
}
.navbar .navbar-wrapper .navbar-lang .language{
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.navbar .navbar-wrapper .navbar-lang button:link{
  display: none;
}
.navbar .navbar-wrapper .navbar-lang button:hover{
  background: rgba(188, 193, 201, 0.349);
}